.video-wrapper {
    position: relative;
    width: 100%; /* Responsive width */
    height: auto;
    padding-top: 56.25%; /* Maintains 16:9 aspect ratio */
    overflow: hidden;
    border-radius: 20px; /* Rounded corners */
    background: #f0f0f0; /* Optional: Background for empty space */
    z-index: 0;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 20px; 
    object-fit: cover; 
    z-index: 0;
}

.vertical-scroll-container {
    position: relative;
    margin: 22vh auto;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 20px;
    /* border: 1px solid #ddd; */
    max-width: 53vw;
    height: 66vh;
    gap: 3.5vh;
    background: transparent;
    transition: opacity 0.5s ease-in-out;
    z-index: 0;
}

.vertical-scroll-container.menu-active {
    opacity: 0.04;
    pointer-events: none;
}
.vertical-scroll-container iframe:last-child {
    margin-bottom: 0;
}

@media screen and (max-width:375px){
    .vertical-scroll-container{
        max-width: 86vw;
    }
}
@media screen and (max-width:1024px) {
    .vertical-scroll-container{
        max-width: 86vw;
    }
}
